<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Document</title>
</head>
<body>
<nav CLASS="navbar">
    <div class="brand-title">
        <a href="/user_success" class=""><img src="../static/images/logo.png" alt="war_wager.png"></a>
    </div>
    <div class="navbar-links">
        <ul>
            <li><p>Hello {{ person.first_name }}</p>|<a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
{# <h2>what do you want to do?</h2> #}
{# <a href="/to_event_create">Create Upcoming Event</a> #}
{# <a href="/past_events">Tell the tale of past battles</a> #}
<div class="background-container">
    <div class="landing-text">
        <div class="yell">
            <h1>Wish to Wage</h1>
            <h1>Your Own War?</h1>
        </div>
        <div class="card-create">
            <div class="card-content">
                <h2 class="card-title">Wage War</h2>
                <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui erat.
                    Suspendisse
                    tellus diam, dignissim ac purus eu, volutpat viverra ipsum.</p>
                <a href="/to_event_create" class="button">Create Event</a>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-warhammer">
            <div class="card-content warhammer">
                <h2 class="card-title warhammer">War Hammer 40K</h2>
                <p class="card-body warhammer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui
                    erat.
                    Suspendisse
                    tellus diam, dignissim ac purus eu, volutpat viverra ipsum.</p>
                <a href="/upcoming/warhammer" class="button">Find Events</a>
            </div>
        </div>
        <div class="card-pathfinder">
            <div class="card-content">
                <h2 class="card-title">Path Finder</h2>
                <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui erat.
                    Suspendisse
                    tellus diam, dignissim ac purus eu, volutpat viverra ipsum.</p>
                <a href="/upcoming/pathfinder" class="button">Find Events</a>
            </div>
        </div>
        <div class="card-xwing">
            <div class="card-content">
                <h2 class="card-title">Star Wars X-Wing</h2>
                <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae dui erat.
                    Suspendisse
                    tellus diam, dignissim ac purus eu, volutpat viverra ipsum.</p>
                <a href="/upcoming/x-wing" class="button">Find Events</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-text">
        <img src="../static/images/logo.png" alt="logo.png">
        <p class="footer-msg">Made with <3 and Coffee. Product of Hector Garcia - Product Manager, Zachary Bacon -
            Backend, Hiwot Aynalem - Backend, and Brian Yee - Frontend</p>
        <p class="footer-copyright">©2022 War Wager</p>
    </div>
</div>

</body>
</html>