<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/logreg.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<nav CLASS="navbar">
    <div class="brand-title">
        <a href="/" class=""><img src="../static/images/logo.png" alt="war_wager.png"></a>
    </div>
    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>

<div class="logreg-container">
    <div class="container-login">
        <h1>Login</h1>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
            {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action="/validate_login" method="post">
            <div class="form-group-user">
                <label for="email">email</label>
                <input type="text" name="email" id="" placeholder="email">
                <span></span>
            </div>
            <div class="form-group-user">
                <label for="password">Password</label>
                <input type="password" name="password" id="" placeholder="password">
                <span></span>
            </div>
            <button type="submit">Submit</button>
            <span class="log-reg">Not registered? <a href="/register">Signup</a></span>
        </form>
    </div>
</div>
<div class="footer">
    <div class="footer-text">
        <img src="../static/images/logo.png" alt="logo.png">
        <p class="footer-msg">Made with <3 and Coffee. Product of Hector Garcia - Product Manager, Zachary Bacon -
            Backend, Hiwot Aynalem - Backend, and Brian Yee - Frontend</p>
        <p class="footer-copyright">©2022 War Wager</p>
      
    </div>
</div>
</body>
</html>